/* DIPLOMA & TRANSCRIPT FORMS -- CSS */

  /* Sets font styles for DOB and DOA title fields (diplomas & transcripts) */
.field-type-datetime .fieldset-legend,
.field-type-datestamp .fieldset-legend {
    font-weight: 700 !important;
    font-size: .85em !important;
}

  /* Sets proper sizing section headings (diplomas & transcripts) */
#commerce-checkout-form-checkout > div .fieldset-legend {
    font-size: 1.25em;
}

  /* Sets proper sizing for DOB month field */
select#edit-commerce-fieldgroup-pane-group-diploma-personal-info-field-diploma-dob-und-0-value-month,
select#edit-commerce-fieldgroup-pane-group-transcript-personal-info-field-transcript-dob-und-0-value-month {
    height: 2em;
    font-size: 1em;
}

  /* Sets correct spacing between DOB title field and DOB field (diplomas & transcripts) */
div#edit-commerce-fieldgroup-pane-group-diploma-personal-info-field-diploma-dob-und-0-value,
div#edit-commerce-fieldgroup-pane-group-transcript-personal-info-field-transcript-dob-und-0-value {
    margin-top: -1.5em;
}

  /* Sets correct spacing between DOA title field and DOA fields (diplomas & transcripts) */
#commerce-fieldgroup-pane-group-diploma-diploma-info-field-diploma-dates-attendance-add-more-wrapper legend,
#commerce-fieldgroup-pane-group-transcript-personal-info-field-transcript-graduation-date-add-more-wrapper legend,
#commerce-fieldgroup-pane-group-transcript-personal-info-field-transcript-grad-date-paper-add-more-wrapper legend {
    margin-bottom: -1em;
}

/* Moves DOB fields (diplomas & transcripts) and DOA (diploma) to align with left margin */
div#edit-commerce-fieldgroup-pane-group-diploma-personal-info-field-diploma-dob,
div#edit-commerce-fieldgroup-pane-group-diploma-diploma-info-field-diploma-dates-attendance,
div#edit-commerce-fieldgroup-pane-group-transcript-personal-info-field-transcript-dob {
    margin-left: -1em;
}

  /* Shifts "Transcript Information" section to align with left margin */
fieldset#edit-commerce-fieldgroup-pane-group-transcript-personal-info-field-transcript-info-e-coll-und-0,
fieldset#edit-commerce-fieldgroup-pane-group-transcript-personal-info-field-transcript-info-p-coll-und-0 {
    margin-left: -1em;
}

  /* Places asterisk after DOB & DOA title fields and Graduation Date title field (diplomas & transcripts) */
#commerce-fieldgroup-pane-group-transcript-personal-info-field-transcript-graduation-date-add-more-wrapper .fel-field-label:after,
#commerce-fieldgroup-pane-group-transcript-personal-info-field-transcript-grad-date-paper-add-more-wrapper .fel-field-label:after,
#commerce-fieldgroup-pane-group-transcript-personal-info-field-transcript-dates-att-paper-add-more-wrapper .fel-field-label:after,
#commerce-fieldgroup-pane-group-transcript-personal-info-field-transcript-dates-attendanc-add-more-wrapper .fel-field-label:after,
.field-label .fel-field-label:after,
.field-label label:after,
#commerce-fieldgroup-pane-group-diploma-diploma-info-field-diploma-dates-attendance-add-more-wrapper .fieldset-legend:after {
    color: #F00;
    content: ' *';
    display: inline;
}

  /* Sets font styling for DOA help text (transcripts) */
#commerce-fieldgroup-pane-group-transcript-personal-info-field-transcript-dates-attendanc-add-more-wrapper div.fieldset-description,
#commerce-fieldgroup-pane-group-transcript-personal-info-field-transcript-dates-att-paper-add-more-wrapper div.fieldset-description {
    font-size: .923em;
    color: #666;
}

  /* Hides the field drag element on recipient table (transcripts) -- 1
     Hides 'Show row weights' link for recipients -- 2
     Hides paper recipient title fields (transcripts) -- 3
     Hides 'N/A' option from eSCRIP-SAFE notification (electronic transcripts) -- 4
     Hides 'Order total' field that is not updating dynamically (diplomas & transcripts) -- 5
     Hides 'or' label as well as 'Cancel' and 'Go Back' buttons due to error (diplomas & transcripts) -- 6
     Hides 'After paying: View your orders' and 'View your orders' due to anonymous issue (diplomas & transcripts) -- 7
     Hides QuikPAY RTPN content due to anonymous issue with viewing orders -- 8
     Hides I Am Me Check field on admin order page due to hiding issues -- 9 */
td.field-multiple-drag, /* 1 */
.tabledrag-toggle-weight, /* 2 */
#edit-commerce-fieldgroup-pane-group-transcript-personal-info-field-transcript-info-p-coll-und-0-field-transcript-recipient-mail-und-0 legend, /* 3 */
#edit-commerce-fieldgroup-pane-group-transcript-personal-info-field-transcript-info-e-coll-und-0-field-transcript-noto-escripsafe-und .form-item-commerce-fieldgroup-pane--group-transcript-personal-info-field-transcript-info-e-coll-und-0-field-transcript-noto-escripsafe-und:nth-child(1), /* 4 */
.commerce-price-formatted-components, /* 5 */
.button-operator, #edit-cancel, #edit-back, /* 6 */
.quikpay-return, /* 7 */
body.page-quikpay-rtpn #block-system-main .content, /* 8 */
div.field.field-name-field-diploma-i-am-me-check.field-type-list-boolean.field-label-above > div.field-label /* 9 */ {
    display: none;
}

  /* Reforms commerce checkout "I would like..." number select box dimensions in order to fit the numeral better (transcripts) */
input#edit-commerce-fieldgroup-pane-group-transcript-personal-info-field-transcript-info-e-coll-und-0-field-transcript-copies-p-und-0-value,
input#edit-commerce-fieldgroup-pane-group-transcript-personal-info-field-transcript-info-p-coll-und-0-field-transcript-copies-p-und-0-value {
    width: 2em;
}

  /* Adds space between checkout review and 'Billing Information' sections (diplomas & transcripts) */
#edit-customer-profile-billing {
    margin-top: 4em;
}

  /* Removes border from checkout forms */
form#commerce-checkout-form-checkout fieldset,
form#commerce-checkout-form-shipping fieldset,
form#commerce-checkout-form-review fieldset,
form#quikpay-redirect-form fieldset {
  border: none !important;
}

  /* Forces shopping cart table width to not be 100% */
fieldset#edit-cart-contents table {
    width: auto;
}

  /* Hides 'ASU Diploma' dropdown option on diploma checkout because option cannot be removed in Drupal UI since
   * previous orders utilize the field */
#edit-commerce-fieldgroup-pane-group-diploma-diploma-info-field-diploma-degree-awarded-und option:nth-child(2) {
    display: none !important;
}
